# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env
.env.local
.env.production
.env.development
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtualenvs (CRÍTICO)
venv/
.venv/
ot-backend/venv/
ot-backend/.venv/

# Django generated folders (si se generan local o en build)
static/
staticfiles/
media/

ot-backend/package-lock.json
